<header>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T096ZRKQHL"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    </script>

    <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
            {% if site.show_downloads %}
              <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
              <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
            {% endif %}
            <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
            <a href="{{ '/' | relative_url }}" class="btn btn-github"><span class="icon"></span>Home</a>
            <a href="{{ '/' | relative_url }}" class="btn btn"><span class="icon"></span>btn</a>
            <a href="{{ '/' | relative_url }}" class="hacker-button"><span class="icon"></span>btn</a>
            <a href="{{ '/' | relative_url }}" class="btn hacker-button"><span class="icon"></span>btn</a>
            <button class="hacker-button">Hack the Planet</button>
            <a href="www.google.com" class="btn">Go to Google</a>
            <a href="www.{{ '/blog/' | relative_url }}" class="btn">Blog</a>
            <a href="www.{{ '/rojects/' | relative_url }}" class="btn">Projects</a>
            <a href="www.vg.no" target="_blank">Open vg in a new tab</a>



        </section>
    </div>
  </header>